<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Lista de Usuários
        </h1>
        <ol class="breadcrumb">
            <li><a href="/INOVACMS"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/INOVACMS/users">Usuários</a></li>
            <li class="active"><a href="/INOVACMS/users/create">Cadastrar</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Novo Usuário</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/INOVACMS/users/create" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="person">Nome</label>
                                <input type="text" class="form-control" id="person" name="person" placeholder="Digite o nome">
                            </div>
                            <div class="form-group">
                                <label for="office">Cargo</label>
                                <input type="text" class="form-control" id="office" name="office" placeholder="Digite o cargo">
                            </div>
                            <div class="form-group">
                                <label for="login">Login</label>
                                <input type="text" class="form-control" id="login" name="login" placeholder="Digite o login">
                            </div>
                            <div class="form-group">
                                <label for="nrphone">Telefone</label>
                                <input type="tel" class="form-control" id="nrphone" name="nrphone" placeholder="Digite o telefone">
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Digite o e-mail">
                            </div>
                            <div class="form-group">
                                <label for="pass">Senha</label>
                                <input type="password" class="form-control" id="pass" name="pass" placeholder="Digite a senha">
                            </div>
                            <div class="form-group">
                                <label> Acesso de Administrador </label>
                                <select name="inadmin" id="inadmin" class="form-control">
                                    <option value="1">Sim</option>
                                    <option value="0"> Não</option>
                                </select>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
